.nv {
  background-color: rgba(39, 23, 109, 0.25);
}

.btnC {
  margin: 8px !important;
  color: whitesmoke !important;
  background-color: rgb(27, 112, 49) !important;
  padding: 7px;
  font-size: 0.8rem;
}
.btnCmp:hover {
  background-color: rgb(173, 80, 64);
}

.slt {
  width: 16rem;
}
.slt1 {
  width: 5rem;
}
